<form
        class="{{ cssClass }}"
        autocomplete="off">
    <header class="sheet-header">
        <img
                class="profile-img"
                src="{{ item.img }}"
                data-edit="img"
                title="{{ item.name }}"/>
        <div class="header-fields">
            <h1 class="charname"><input
                    name="name"
                    type="text"
                    value="{{ item.name }}"
                    placeholder="{{ localize 'EBL.itemName' }}"/></h1>
            <div class="grid grid-2col">
                <div class="resource flex-group-center">
                    <label class="resource-label">{{ localize 'EBL.bulky' }}</label>
                    <input
                            class="checkbox-block"
                            type="checkbox"
                            {{ checked system.bulky}}
                            name="system.bulky"
                            value="{{ system.bulky }}"
                            data-dtype="Boolean"/>
                </div>
                <div class="resource flex-group-center">
                    <label class="resource-label">{{ localize 'EBL.equipped' }}</label>
                    <input
                            class="checkbox-block"
                            type="checkbox"
                            {{ checked system.equipped}}
                            name="system.equipped"
                            value="{{ system.equipped }}"
                            data-dtype="Boolean"/>
                </div>
            </div>
            <div class="grid grid-2col">
                <div class="resource flex-group-center">
                    <label class="resource-label">{{ localize 'EBL.blast' }}</label>
                    <input
                            class="checkbox-block"
                            type="checkbox"
                            {{ checked system.blast}}
                            name="system.blast"
                            value="{{ system.blast }}"
                            data-dtype="Boolean"/>
                </div>

            </div>
        </div>
    </header>

    <div class="grid grid-4col">
        <div class="resource flex-group-center">
            <label class="resource-label">{{ localize 'EBL.quantity' }}</label>
            <input
                    type="number"
                    name="system.quantity"
                    value="{{ system.quantity }}"
                    data-dtype="Number"/>
        </div>
        <div class="resource flex-group-center">
            <label class="resource-label">{{ localize 'EBL.numberOfUses' }}</label>
            <input
                    type="number"
                    name="system.numberOfUses"
                    value="{{ system.numberOfUses }}"
                    data-dtype="Number"/>
        </div>
        <div class="resource flex-group-center">
            <label class="resource-label">{{ localize 'EBL.armour' }}</label>
            <input
                    type="number"
                    name="system.armour"
                    value="{{ system.armour }}"
                    data-dtype="Number"/>
        </div>
        <div class="resource flex-group-center">
            <label class="resource-label">{{ localize 'EBL.damage' }}</label>
            <input
                    type="text"
                    name="system.damageFormula"
                    value="{{ system.damageFormula }}"/>
        </div>
    </div>
    <div class="sheet-tabs-container">
        <nav
                class="sheet-tabs tabs"
                data-group="primary">
            <span
                    class="item"
                    data-tab="description">{{ localize 'EBL.description' }}</span>
        </nav>
    </div>

    <prose-mirror name="system.description" value="{{ system.description }}" toggled
                  {{#unless editable}}disabled{{/unless}}>{{{ enrichedBiography }}}
    </prose-mirror>
</form>
